@media screen and (max-width: 600px) {
  body {
    font-size: 14px;

  }
}

@media screen and (max-width: 600px) {
  .searchkey {
    width: 200px
  }
}

@media screen and (max-width: 600px) {
  .inputbtn {
    width: 500px;
    display: flex;
    justify-content: space-between;

  }
}

@media screen and (max-width: 600px) {
  .tabledata {
    width: 500px;
    display: flex;
    justify-content: space-between
  }
}